src/main/wsdl/CityService.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://www.cityservice.ru/addcitydata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.cityservice.ru/addcitydata"
	targetNamespace="http://www.cityservice.ru/addcitydata">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.cityservice.ru/addcitydata">
			<xs:element name="AddCityDataRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="city"
							type="tns:city" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddCityDataResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" name="success"
							type="xs:boolean" />
						<xs:element maxOccurs="unbounded" name="message"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="city">
				<xs:sequence>
					<xs:element name="cityName" type="xs:string" />
					<xs:element name="numberOfCitizens" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="AddCityDataRequest">
		<wsdl:part element="tns:AddCityDataRequest"
			name="AddCityDataRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddCityDataResponse">
		<wsdl:part element="tns:AddCityDataResponse"
			name="AddCityDataResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CityPort">
		<wsdl:operation name="AddCityData">
			<wsdl:input message="tns:AddCityDataRequest"
				name="AddCityDataRequest">
			</wsdl:input>
			<wsdl:output message="tns:AddCityDataResponse"
				name="AddCityDataResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CityPortSoap11" type="tns:CityPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AddCityData">
			<soap:operation soapAction="" />
			<wsdl:input name="AddCityDataRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AddCityDataResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CityPortService">
		<wsdl:port binding="tns:CityPortSoap11"
			name="CityPortSoap11">
			<soap:address location="http://localhost:8080/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>